body {
  height: 98vh;
  color: #fff;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(
    135deg,
    #3b679e 5%,
    #0f7ed8 17%,
    #7baad8 23%,
    #509fc4 29%,
    #2b88d9 38%,
    #3b68d3 47%,
    #004499 56%,
    #3d8cdb 64%,
    #7baad8 69%,
    #207cca 75%,
    #509fc4 88%,
    #7db9e8 100%
  );
}

section {
  margin-top: 15vh;
}

input,
select,
textarea {
  display: block;
  margin-top: 10%;
  max-width: 300px;
  max-height: 250px;
}

input[type="number"] {
  display: none;
}

#annulation {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 688px) {
  body {
    display: block;
    margin-left: 10%;
  }

  form,
  input {
    width: 80%;
  }

  section {
    margin-top: 0;
  }

  .connect {
    margin-top: 7vh;
  }
}
