body {
  height: 98vh;
  color: #fff;
  background: linear-gradient(
    135deg,
    #3b679e 5%,
    #0f7ed8 17%,
    #7baad8 23%,
    #509fc4 29%,
    #2b88d9 38%,
    #3b68d3 47%,
    #004499 56%,
    #3d8cdb 64%,
    #7baad8 69%,
    #207cca 75%,
    #509fc4 88%,
    #7db9e8 100%
  );
}

header {
  text-align: end;
}

header a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  transition: box-shadow 0.3s ease-in-out;
}

header a:hover {
  box-shadow: 2px 2px orange;
}

main {
  margin: 10% 8%;
}

.add {
  text-align: end;
}

.add a {
  border: 1px solid #000;
  padding: 1%;
  border-radius: 10%;
  color: #fff;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
}

.add a:hover {
  box-shadow: 2px 2px orange;
}

.modal-window {
  color: #000;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}

.modal-close {
  color: #aaa;
  line-height: 30px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: black;
}

.modal-window form input {
  display: block;
  margin: 2% 0;
}

.todolist {
  width: 100%;
  margin-top: 4%;
  border: 1px solid #000;
  box-shadow: 2px 2px orange;
}

ul {
  list-style: none;
}

.categorie {
  text-decoration: none;
  color: #fff;
}

.categorie:hover {
  color: orange;
}

.todo {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  justify-content: space-around;
  margin: 1% auto 1%;
}

.todo p {
  border-right: 1px solid black;
  height: 100%;
  text-align: center;
  width: 100%;
}

.todo a {
  text-decoration: none;
  color: #fff;
  margin-right: 10%;
  margin-left: 10%;
}

.todo a:hover {
  color: orange;
}

@media screen and (max-width: 688px) {
  .modal-window > div {
    width: 220px;
  }

  .todolist {
    border: none;
    box-shadow: none;
  }

  .todo p {
    font-size: 0.6rem;
  }
}
